/* Navbar */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

/* Global */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

/* Sections */

.home {
    background: url('images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg')
        no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    padding-top: 60px;
}

.about {
    background: url('https://lh3.googleusercontent.com/-AcWr5_cFuKM/Vzhh0t3QCJI/AAAAAAAAOtE/BYyyhvdCgP0YEIScNmoVewX-O1QmxiHuQCCo/s2048/LOGO5.jpg')
        no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    padding-top: 60px;
}

.portfolio {
    background-color: #ebebeb;
    padding-top: 60px;
    min-height: 100%;
}

.contact {
    background-color: #ebebeb;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 80px;
}

/* Home content centering */

.home .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Extra */

.extra {
    height: 480px;
}
